/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  .barlow-semi-condensed-medium {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .barlow-semi-condensed-semibold {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  /*Colors*/
  :root{
    --ModerateViolet: hsl(263,55%,52%);
    --VeryDarkBlakishBlue: hsl(219,29%,14%);
    --White: hsl(0,0%,100%);

    --White70: hsla(0,0%,100%,0.7);
    --white50: hsla(0,0%,100%,0.5);

    --VeryDarkGrayishBlue: hsla(217,19%,35%,1);
    --VeryDarkGrayishBlue50: hsla(217,19%,35%,0.7);
    --VeryDarkGrayishBlue70: hsla(217,19%,35%,0.5);


    --LightGray: hsl(0,0%,81%);
    --LightGrayishBlue: hsl(210,46%,95%);
  }

  /*Deleting auto-spacings*/
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*Styling*/

html, body{
    color: red;
    font-family: "Barlow Semi Condensed";
    font-size: 13px;
    background-color: beige;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*Flex-boxing or Layouting*/

.container{
  display: flex;
  flex-direction: row;
  gap: 2.46rem;
}

.column-1{
  display: flex;
  flex-direction: column;
  gap: 1.85rem;
}
.column-2{
display: flex;
flex-direction: row;
}
.row-1{
  display: flex;
  gap: 2.46rem;
}
.row-2{
  display: flex;
  gap: 2.46rem;
}



/*Standard-Card*/
.card{
    background-color: white;
    padding-left: 2.46rem;
    padding-right: 2.46rem;
    padding-bottom: 2.46rem;
    padding-top: 1.85rem;
    box-shadow: 5px 5px 15px hsla(0,0%,0%,0.2);

    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.card-profile{
  display: flex;
  flex-direction: row;
  margin-bottom: 1.54rem;
  z-index: 2;
}

.card h1{
  margin-bottom: 1.54rem;
  font-size: 1.54rem;
  font-weight: 600;
  z-index: 2;
}

.card .quote{
  margin-bottom: 1.54rem;
  font-size: 1rem;
  line-height: 135%;
  z-index: 2;
}

.profile-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.25rem;
}

.card-profile .small{
  font-size: 0.85rem;
  
}

.card-profile img{
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 50%;
  border: 2px solid var(--white50);
  width: 2.16rem;
}


/*individual card settings*/

/*Card-sizing*/
.compact{
  max-width: 19.7rem;
  }

.tall{
  height: 100%;
  max-width: 19.7rem;
}
  
.wide{
  max-width: 41.5rem;
}

/*Card-Styling*/

/*Light*/
.lightCard{
  color: var(--VeryDarkGrayishBlue);
  background-color: var(--White);
}
.lightQuote{
  color: var(--VeryDarkGrayishBlue70);
}
.lightVeri{
  color: var(--VeryDarkGrayishBlue50);
}

/*Dark*/
.DarkCard{
  color: var(--White);
  background-color: black;
}

.DarkQuote{
  color: var(--White70);
}

.DarkVeri{
  color: var(--white50);
}

/*Individual Dark-Card*/
#DanielCard{
  background-color: var(--ModerateViolet);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 82% top;
}

#JonathanCard{
  background-color: var(--VeryDarkGrayishBlue);
}

#PatrickCard{
  background-color: var(--VeryDarkBlakishBlue);
}

#cardProfilePatrick{
  border: 2px solid var(--ModerateViolet);
}